@import '../../styles/variables.scss';

.star {
	flex-shrink: 0;
	margin: 10px;
}

.starsSlider {
	position: relative;
	display: flex;
	justify-content: center;
	height: 210px;
	margin-bottom: 70px;

	@media(min-width: 992px) {
		height: 254px;
		margin-bottom: 307px;
	}
}