@import '../../styles/variables.scss';

.star {
  width: 160px;
  margin-bottom: 12px;

  @media (min-width: 992px) {
    width: 200px;
  }
}

.starsSlider {
  position: relative;
  justify-content: center;
  height: 210px;
  margin-bottom: 70px;

  @media (min-width: 992px) {
    height: 254px;
    margin-bottom: 120px;
  }
}
