@import '../../styles/variables.scss';

.h1 {
  display: inline-block;
  margin: 0;
  
  font-family: $font-second;
  font-size: 72px;
  line-height: 63px;
  font-weight: normal;

  background: $color-gradient-title;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media(min-width: 992px) {
    font-size: 120px;
    line-height: 87.19%;
  }
}