.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1136px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;

  @media(min-width: 768px) {
    margin-left: -10px;
    margin-right: -10px;
  }
  @media(min-width: 992px) {
    margin-left: -18px;
    margin-right: -18px;
  }  
}
.row-align-center {
  justify-content: center;
}
.col,
.col-12,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-9,
.col-md-10 {
  padding-left: 5px;
  padding-right: 5px;

  @media(min-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  @media(min-width: 992px) {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.col {

}
.col-12 {
  flex: 0 0 100%;
  width: 100%;  
}
.col-md-3 {
  @media(min-width: 768px) {
    flex: 0 0 auto;
    width: 25%;
  }
}
.col-md-4 {
  @media(min-width: 768px) {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
.col-md-5 {
  @media(min-width: 768px) {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
}
.col-md-6 {
  @media(min-width: 768px) {
    flex: 0 0 auto;
    width: 50%;
  }
}
.col-md-7 {
  @media(min-width: 768px) {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
}
.col-md-9 {
  @media(min-width: 768px) {
    flex: 0 0 auto;
    width: 75%;
  }
}
.col-md-10 {
  @media(min-width: 768px) {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
}
.offset-md-1 {
  @media(min-width: 768px) {
    margin-left: 8.33333333%;
  }
}
.offset-md-2 {
  @media(min-width: 768px) {
    margin-left: 16.66666667%;
  }
}