/*
 * Fonts
 *
 */

$font-main: 'Roboto', sans-serif;
$font-second: 'Miratrix Normal', sans-serif;

/*
 * Colors
 *
 */

$color-yellow: #FFD26D;
$color-red: #F2203E;
$color-violet: #B729A8;
$color-blue: #5342D6;

$color-gradient-main: linear-gradient(149.35deg, #b12e2a 53.78%, #f47c45 102.7%);
$color-gradient-bg: linear-gradient(90deg, #0D0D0D 0%, #080238 100%), #FFFFFF;
$color-gradient-title: radial-gradient(90.8% 194.7% at 8.13% 89.41%, #FFD26D 0%, #F2203E 32.73%, #B729A8 64.85%, #5342D6 100%);