@import '../../styles/variables.scss';

.greetingsFromOgs {
  margin-bottom: 70px;

  @media (min-width: 1200px) {
    margin-bottom: 200px;
  }
}
.greetingsFromOgsHeader {
  margin-bottom: 24px;

  @media (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 22px;

    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: radial-gradient(
      110.62% 152.45% at -5.94% 92.66%,
      #ffd26d 0%,
      #f2203e 32.73%,
      #b729a8 64.85%,
      #5342d6 100%
    );
  }
}
.greetingsFromOgsItem {
}
.greetingsFromOgsBody {
  display: flex;
  justify-content: center;
  padding: 24px 48px;
}
