@import '../../styles/variables.scss';

.colors {
  margin-bottom: 62px;

	@media(min-width: 992px) {
		margin-bottom: 120px;
	}
	@media(min-width: 1200px) {
		margin-bottom: 190px;
	}
}
.colorsHeader {
	margin-bottom: 20px;

	word-break: break-all;

	@media(min-width: 768px) {
		word-break: normal;
	}
	@media(min-width: 992px) {
		margin-bottom: 35px;
	}
}
.colorsDesc {
	margin-bottom: 28px;

	@media(min-width: 992px) {
		margin-bottom: 0;
		padding-top: 28px;
	}
}
.colorsSpectrum p {
	margin-bottom: 7px;
}
.colorsSpectrum p:last-of-type {
	margin-bottom: 0;
}
.colorsSpectrumImg {
	display: none;

	@media(min-width: 768px) {
		display: block;
		width: 100%;
		max-width: 540px;
		margin-top: 16px;
		margin-bottom: 16px;
	}
}
.colorsSpectrumImgSm {
	display: block;
	width: 100%;
	max-width: 300px;
	margin-top: 16px;
	margin-bottom: 16px;

	@media(min-width: 768px) {
		display: none;
	}
}
.colorsSpectrumTextSm {
	margin-bottom: 8px;

	font-family: $font-main;
	font-weight: 300;
	font-size: 14px;
	line-height: 130%;
	color: #8A7BFF;
}