@import '../../styles/variables.scss';

.footer {
	
}
.footerHeader {
	border-top: 1px solid;
	border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
	border-image-source: radial-gradient(110.62% 152.45% at -5.94% 92.66%, #FFD26D 0%, #F2203E 32.73%, #B729A8 64.85%, #5342D6 100%);
}
.footerSocial {
	display: flex;
	justify-content: center;
	padding: 36px 0;

	border-left: 1px solid;
	border-right: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
	border-image-source: radial-gradient(110.62% 152.45% at -5.94% 92.66%, #FFD26D 0%, #F2203E 32.73%, #B729A8 64.85%, #5342D6 100%);

	@media(min-width: 768px) {
		padding: 22px 0;
	}
}
.footerBody {
	padding-top: 70px;
	padding-bottom: 75px;

	text-align: center;	

	@media(min-width: 768px) {
		padding-top: 80px;
		padding-bottom: 95px;
	}
}