@import '../../styles/variables.scss';

.accordionItem {
  display: block;
  padding: 16px;

  border: 0;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: radial-gradient(
    110.62% 152.45% at -5.94% 92.66%,
    #ffd26d 0%,
    #f2203e 32.73%,
    #b729a8 64.85%,
    #5342d6 100%
  );

  @media (min-width: 992px) {
    margin-bottom: 22px;
    padding: 17px 0;
    padding-bottom: 17px;
  }
}
.accordionItem:last-of-type {
  margin-bottom: 0;
}
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}
.question p {
  font-size: 16px;

  @media (min-width: 992px) {
    font-size: 18px;
  }
}
.questionIcon {
  margin-left: 15px;

  @media (min-width: 992px) {
    margin-left: 30px;
  }
}
.questionIcon > div {
  display: block;
  width: 36px;
  height: 36px;
}
.answer {
  height: 0;
  max-width: 636px;

  overflow: hidden;
}
.accordionItemOpen .answer {
  height: auto;
  padding-top: 16px;
  padding-right: 50px;

  @media (min-width: 992px) {
    padding-top: 10px;
    padding-right: 65px;
    padding-bottom: 6px;
  }
}
